@using BFme.Models
@{
    if (ViewBag.Action == "Add") ViewData["Title"] = "Добавление инвест идеи";
    else if (ViewBag.Action == "Edit") ViewData["Title"] = "Редактирование инвест идеи";
}

<div class="text-center">
    <h1 class="display-4">Редактирование инвестиционной идеи</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>

<form asp-action="@ViewBag.Action" asp-controller="InvestConcept" method="post">
    <input type="hidden" name="Id" value="@ViewBag.SelectedInvestConcept.Id" />
    <input type="hidden" name="LotId" value="@ViewBag.SelectedInvestConcept.LotId" />
    <p>
        <text>Название:</text><br>
        <input class="w-50" type="text" name="Name" value="@ViewBag.SelectedInvestConcept.Name" />
    </p>
    <p>
        <text>Срок реализации объекта, месяц:</text><br>
        <input class="w-50" type="text" name="ImplementationPeriod" value="@ViewBag.SelectedInvestConcept.ImplementationPeriod" />
    </p>
    <p>
        <text>Цена покупки, руб:</text><br>
        <input class="w-50" type="text" name="PurchasePrice" value="@ViewBag.SelectedInvestConcept.PurchasePrice" />
    </p>
    <p>
        <text>Цена продажи, руб:</text><br>
        <input class="w-50" type="text" name="SalePrice" value="@ViewBag.SelectedInvestConcept.SalePrice" />
    </p>

    <input type="submit" value="Cохранить" />
</form>