@using BFme.Models
@{
    ViewData["Title"] = "Lot Page";
}

<div class="text-center">
    <h1 class="display-4">Редактирование лота</h1>
</div>
<div class="form-group w-100">
    <form action="EditLot" method="post">
        <input class="w-50" type="hidden" name="Id" value="@ViewBag.SelectedLot.Id" />
        <p>
            <text>Название объекта:</text><br>
            <input class="w-50" type="text" name="Name" value="@ViewBag.SelectedLot.Name" />
        </p>
        <p>
            <text>Описание:</text><br>
            <input class="w-50" type="text" name="Information" value="@ViewBag.SelectedLot.Information" />
        </p>
        <p>
            <text>Ссылка на ЕФРСБ:</text><br>
            <input class="w-50" type="text" name="LinkEFRSB" value="@ViewBag.SelectedLot.LinkEFRSB" />
        </p>
        <p>
            <text>Ссылка на ТП:</text><br>
            <input class="w-50" type="text" name="LinkTradingPlatform" value="@ViewBag.SelectedLot.LinkTradingPlatform" />
        </p>
        <p>
            <text>Цена на торгах:</text><br>
            <input class="w-50" type="number" name="AuctionPrice" value="@ViewBag.SelectedLot.AuctionPrice" />
        </p>

        <input type="submit" value="сохранить" />
    </form>
</div>
