@using BFme.Models
@using BFme.ViewModels
@model ListViewModel

<div class="text-center">
    <h1 class="display-4">Список лотов</h1>
    <h5>@User.Identity.Name</h5>
    <p class="alert-warning">@Model.Message</p>
</div>

<div>
    <table class="table-bordered">
        <tr>
            <td>Номер</td>
            <td>Название</td>
            <td>Описание</td>
        </tr>
        @foreach (LotRow lot in Model.Lots)
        {
            <tr>
                <td>@lot.Id</td>
                <td>
                    @Html.ActionLink(@lot.Name, "Index", "Lot", new { Id = lot.Id }, null)
                </td>
                <td>@lot.Description</td>
            </tr>
        }

        <tr>
            <td colspan="3"> @Html.ActionLink("Добавить лот", "Add", "Lot", null)</td>
        </tr>
    </table>
    <!--Предыдущая/Следующая страница-->
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <p>Страница @Model.CurrentPage</p>
        <button name="Page" value="@(Model.CurrentPage - 1)">Предыдушая страница</button>
        <button name="Page" value="@(Model.CurrentPage + 1)">Следующая страница</button>
    }
</div>
