@using BFme.Models
@{
    ViewData["Title"] = "Lot Page";
}

<div class="text-center">
    <h1 class="display-4">Список лотов</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>
<div class="w-100">
    <table class="table-bordered">
        <tr>
            <td>Номер</td>
            <td>Название</td>
            <td>Описание</td>
            <td>Ссылка на ЕФРСБ</td>
            <td>Ссылка на ТП</td>
            <td>Цена на торгах</td>
        </tr>
        @foreach (Lot lot in ViewBag.Lots)
        {
            <tr>
                <td>@lot.Id</td>
                <td>
                    @Html.ActionLink(@lot.Name, "Lot", "Home", new { Id = lot.Id }, null)
                </td>
                <td>@lot.Information</td>
                <td><a href="@lot.LinkEFRSB">ЕФРСБ</a></td>
                <td><a href="@lot.LinkTradingPlatform">ТП</a></td>
                <td>@lot.AuctionPrice</td>
            </tr>
        }
    </table>
    <form action="" method="post">
        <p>Страница @ViewBag.CurrentPage</p>
        <button name="page" value="@(ViewBag.CurrentPage - 1)">Предыдушая страница</button>
        <button name="page" value="@(ViewBag.CurrentPage + 1)">Следующая страница</button>
    </form>
</div>
