@using BFme.Models
@{
    ViewData["Title"] = "Карточка инвест идеи";
}

<div class="text-center">
    <h1 class="display-4">Карточка инвест идеи</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>
<div class="form-group w-100">
    <p>
        <text>Срок реализации объекта, месяц:</text><br>
        <text>@ViewBag.SelectedInvestСoncept.ImplementationPeriod</text>
    </p>
    <p>
        <text>Цена покупки, руб:</text><br>
        <text>@ViewBag.SelectedInvestСoncept.PurchasePrice</text>
    </p>
    <p>
        <text>Цена продажи, руб:</text><br>
        <text>@ViewBag.SelectedInvestСoncept.SalePrice</text>
    </p>
    <p>
        <text>Описание:</text><br>
        <text>@ViewBag.SelectedLot.Description()</text>
    </p>

    <div>
        @if (ViewBag.SelectedInvestСoncept.Expenses != null)
        {
            <table>
                <tr>
                    <td><b>Название</b></td>
                    <td><b>Описание</b></td>
                </tr>
                @foreach (InvestСoncept ic in ViewBag.SelectedLot.InvestConcepts)
                {
                    <tr>
                        <td>Инвест идея #@ic.Id</td>
                        <td>@ic.Description()</td>
                    </tr>
                }
            </table>
        }

        @Html.ActionLink("Добавить расход", "AddExpenses", "Home", null)
    </div>


    @Html.ActionLink("Редактировать", "EditInvestConcept", "Home", new { Id = ViewBag.SelectedInvestConcept.Id }, null)
</div>
