@using BFme.Models
@{
    ViewData["Title"] = "Карточка инвест идеи";
}

<div class="text-center">
    <h1 class="display-4">Карточка инвест идеи</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>
<div class="form-group w-100">
    <p>
        <text>Срок реализации объекта, месяц:</text><br>
        <text>@ViewBag.SelectedInvestConcept.ImplementationPeriod</text>
    </p>
    <p>
        <text>Цена покупки, руб:</text><br>
        <text>@ViewBag.SelectedInvestConcept.PurchasePrice</text>
    </p>
    <p>
        <text>Цена продажи, руб:</text><br>
        <text>@ViewBag.SelectedInvestConcept.SalePrice</text>
    </p>
    <p>
        <text>Описание:</text><br>
        <text>@ViewBag.SelectedInvestConcept.Description()</text>
    </p>

    <div>
        <table class="table-bordered">
            <tr>
                <td><b>Категория расхода</b></td>
                <td><b>Разово</b></td>
                <td><b>Ежемесячно</b></td>
                <td><b>Изменить</b></td>
            </tr>
            @foreach (Expense ex in ViewBag.SelectedInvestConcept.Expenses)
            {
                <tr>
                    <td>@Html.ActionLink(@ex.Name, "Expense", "Home", new { Id = ex.Id }, null)</td>
                    <td>@ex.SinglePayment</td>
                    <td>@ex.MonthlyPayment</td>
                    <td>@Html.ActionLink("Редактировать", "EditExpence", "Home", new { Id = ex.Id }, null)</td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    @Html.ActionLink("Добавить расход", "AddExpense", "Home", null)
                </td>
            </tr>
        </table>
    </div>


    @Html.ActionLink("Редактировать", "EditInvestConcept", "Home", new { Id = ViewBag.SelectedInvestConcept.Id }, null)
</div>
