@using BFme.Models
@{
    ViewData["Title"] = "Карточка лота";
}

<div class="text-center">
    <h1 class="display-4">Карточка лота</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>
<div class="form-group w-100">
    <p>
        <text>Название объекта:</text><br>
        <text>@ViewBag.SelectedLot.Name</text>
    </p>
    <p>
        <text>Описание:</text><br>
        <text>@ViewBag.SelectedLot.Information</text>
    </p>
    <p>
        <a href="@ViewBag.SelectedLot.LinkEFRSB">Ссылка на ЕФРСБ</a>
    </p>
    <p>
        <a href="@ViewBag.SelectedLot.LinkTradingPlatform">Ссылка на Торговую площадку</a>
    </p>
    <p>
        <text>Цена на торгах:</text><br>
        <text>@ViewBag.SelectedLot.AuctionPrice</text>
    </p>
    
    <div>
        <table class="table-bordered">
            <tr>
                <td><b>Название</b></td>
                <td><b>Описание</b></td>
                <td><b>Изменить</b></td>
            </tr>
            @foreach (InvestConcept ic in ViewBag.SelectedLot.InvestConcepts)
            {
                <tr>
                    <td>@Html.ActionLink(@ic.Name, "InvestConcept", "Home", new { Id = ic.Id }, null)</td>
                    <td>
                        Цена покупки, руб: @ic.PurchasePrice<br>
                        Цена продажи, руб: @ic.SalePrice
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditInvestConcept", "Home", new { Id = ic.Id }, null)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    @Html.ActionLink("Добавить инвест идею", "AddInvestConcept", "Home", new { lotId = ViewBag.SelectedLot.Id }, null)
                </td>
            </tr>
        </table>
    </div>


    @Html.ActionLink("Редактировать", "EditLot", "Home", new { Id = ViewBag.SelectedLot.Id }, null)
</div>
