@using BFme.Models
@{
    ViewData["Title"] = "Расход";
}

<div class="text-center">
    <h1 class="display-4">Карточка расхода</h1>
    <p class="alert-warning">@ViewBag.Message</p>
</div>
<div class="form-group w-100">
    <p>
        <text>Название:</text><br>
        <text>@ViewBag.SelectedExpense.Name</text>
    </p>
    <p>
        <text>Описание:</text><br>
        <text>@ViewBag.SelectedExpense.SinglePayment</text>
    </p>
    <p>
        <text>Описание:</text><br>
        <text>@ViewBag.SelectedExpense.MonthlyPayment</text>
    </p>

    @Html.ActionLink("Редактировать", "EditExpense", "Home", new { Id = ViewBag.SelectedExpense.Id }, null)
</div>
