@using BFme.Models
@{
    ViewData["Title"] = "Lot Page";
}

<div class="text-center">
    <h1 class="display-4">Инвестиционная оценка</h1>
</div>
<div class="w-100">
    <table class="table-bordered">
        <tr>
            <td>Номер</td>
            <td>Название</td>
            <td>Начальная цена</td>
            <td>Прогнозируемая стоимость продажи</td>
            <td>Рыночная цена</td>
            <td>Дата торгов</td>
            <td>Комментарий</td>
            <td>Оценка</td>
            <td>Назначение</td>
            <td>Соседи</td>
            <td>Прогнозируемая продажа</td>
        </tr>
        @foreach (Lot lot in ViewBag.Lots)
        {
            <tr>
                <td>@lot.Id</td>
                <td>@lot.Name</td>
                <td>@lot.StartCost</td>
                <td>@lot.ProjectedCost</td>
                <td>@lot.MarketCost</td>
                <td>@lot.AuctionDate</td>
                <td>@lot.Description</td>
                <td>@lot.Assessment</td>
                <td>@lot.Assignment</td>
                <td>@lot.Neighbors</td>
                <td>@lot.ProjectedSale</td>
            </tr>
        }
    </table>
    <form action="" method="post">
        <p>Страница @ViewBag.CurrentPage</p>
        <button name="page" value="@(ViewBag.CurrentPage - 1)">Предыдушая страница</button>
        <button name="page" value="@(ViewBag.CurrentPage + 1)">Следующая страница</button>
    </form>
</div>
