@using BFme.Models
@using BFme.ViewModels
@using BFme.Controllers

@model AgentViewModel


<!-- Lot-Agent -->
<div id="Agent" class="container border rounded" style="background-color: #e9eef5">

    @using (Html.BeginForm(Model.Action.ToString(), "Lot", FormMethod.Post))
    {
    <fieldset>

        <!-- Form Name -->
        <legend>Данные по банкротному лоту</legend>
        <p class="alert-warning">@Model.Message</p>

        <!-- Id -->
        <input type="hidden" value="@Model.Id" name="Id" />

        <!-- Name -->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="Name">Название объекта</label>
            <div class="col-md-10">
                <input name="Name" type="text" value="@Model.Name" class="form-control input-md">

            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="Description">Описание</label>
            <div class="col-md-10">
                <textarea class="form-control" name="Description">@Model.Description</textarea>
            </div>
        </div>

        <!-- AuctionPrice -->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="AuctionPrice">Цена на торгах</label>
            <div class="col-md-10">
                <input value="@Model.AuctionPrice" name="AuctionPrice" type="number" class="form-control input-md">
            </div>
        </div>

        <!-- LinkEFRSB -->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="LinkEFRSB">Ссылка на ЕФРСБ</label>
            <div class="col-md-10">
                <input value="@Model.LinkEFRSB" name="LinkEFRSB" type="text" class="form-control input-md">

            </div>
        </div>

        <!-- LinkTradingPlatform -->
        <div class="form-group row">
            <label class="col-md-2 control-label" for="LinkTradingPlatform">Ссылка на ТП</label>
            <div class="col-md-10">
                <input value="@Model.LinkTradingPlatform" name="LinkTradingPlatform" type="text" class="form-control input-md">
            </div>
        </div>

        <!-- Lot-Rieltor -->
        <div class="container border rounded mt-0 ml-0 mr-0 mb-3 pt-3" style="background-color: #c2ffe0">

            <!-- MarketCost -->
            <div class="form-group row">
                <label class="col-md-2 control-label" for="MarketCost">Рыночная цена, руб</label>
                <div class="col-md-10">
                    <input type="text" value="@Model.MarketCost" name="MarketCost" class="form-control input-md">

                </div>
            </div>

            <!-- Review -->
            <div class="form-group row">
                <label class="col-md-2 control-label" for="Review">Описание</label>
                <div class="col-md-10">
                    <textarea class="form-control" name="Review">@Model.Review</textarea>
                </div>
            </div>
        </div>

        <!-- Сохранить -->
        <div class="form-group row">
            <div class="col"></div>
            <div class="col-2">
                @if (Model.Action == ActionsEnum.Add)
                {
                    <input value="Создать" type="submit" class="form-control input-md">
                }
                else if (Model.Action == ActionsEnum.Edit)
                {
                    <input value="Изменить" type="submit" class="form-control input-md">
                }
            </div>
        </div>

    </fieldset>
    }

    <!-- Files -->
    <div class="form-group container">
        <legend>Файлы:</legend>
        <div class="row">
            @foreach (LotFile file in Model.Files)
            {
            <div class="col-md-auto border rounded-pill bg-light">
                @Html.ActionLink(file.Name, "Download", "Lot", new { Id = file.Id }, null)
            </div>
            }
        </div>
        @if (Model.Action == ActionsEnum.Add)
        {
        <div class="alert-light">
            <p>Создайте лот для возможности прикрепления файлов</p>
        </div>
        }
        else
        {
        <div class="pt-3 row">
            <div class="col p-0">
                @using (Html.BeginForm("Upload", "Lot", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                <input type="file" name="File" class="col-6 p-0" />
                <input type="submit" value="Загрузить файл" class="col-2 p-0" />
                <input type="hidden" name="LotId" value="@Model.Id" />
                    }
            </div>
        </div>
        }

    </div>

</div>


<!-- InvestConcepts -->
<div id="InvestConcept">
    @foreach (InvestConcept ic in Model.InvestConcepts)
    {
        <!-- InvestConcept -->
        <div id="InvestConcept_@ic.Id" class="container border rounded mt-5" style="background-color: #ffdab9">

            @using (Html.BeginForm("Edit", "InvestConcept", FormMethod.Post))
            {
                <div class="d-flex flex-row-reverse">
                    <button onclick="DeleteInvestConcept(@ic.Id)" type="button" class="form-control col-1">X</button>
                </div>
                
                <fieldset>

                    <!-- Form Name -->
                    <legend>Инвест идея</legend>

                    <!-- Id -->
                    <input type="hidden" value="@ic.Id" name="Id" />

                    <!-- LotId -->
                    <input type="hidden" value="@ic.LotId" name="LotId" />

                    <div class="row">

                        <div class="col-8">
                            <!-- Name -->
                            <div class="form-group row">
                                <label class="col-4 control-label" for="Name">Название</label>
                                <div class="col-8">
                                    <input name="Name" type="text" value="@ic.Name" class="form-control input-md">
                                </div>
                            </div>

                            <!-- ImplementationPeriod -->
                            <div class="form-group row">
                                <label class="col-4 control-label" for="ImplementationPeriod">Срок реализации объекта, месяц</label>
                                <div class="col-8">
                                    <input value="@ic.ImplementationPeriod" name="ImplementationPeriod" type="text" class="form-control">
                                </div>
                            </div>

                            <!-- PurchasePrice -->
                            <div class="form-group row">
                                <label class="col-4 control-label" for="PurchasePrice">Цена покупки, руб</label>
                                <div class="col-8">
                                    <input value="@ic.PurchasePrice" name="PurchasePrice" type="text" class="form-control input-md">
                                </div>
                            </div>

                            <!-- SalePrice -->
                            <div class="form-group row">
                                <label class="col-4 control-label" for="SalePrice">Цена продажи, руб</label>
                                <div class="col-8">
                                    <input value="@ic.SalePrice" name="SalePrice" type="text" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Expenses -->
                            <div id="ExpensesTable_@ic.Id">
                                <table>
                                    <tr>
                                        <td>Категория расхода</td>
                                        <td>Разово</td>
                                        <td>Ежемесячно</td>
                                    </tr>
                                    @foreach (var exp in ic.Expenses)
                                    {
                                        <tr>
                                            <td>@exp.Name</td>
                                            <td>@exp.SinglePayment</td>
                                            <td>@exp.MonthlyPayment</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            <div class="container d-flex pl-0">
                                <input value="@ic.Id" name="InvestConceptId" id="InvestConceptId_ExpenseForm_@ic.Id" type="hidden" />
                                <input value="" name="Name" id="Name_ExpenseForm_@ic.Id" type="text" class="form-control input-md col-6" />

                                <input value="" name="SinglePayment" id="SinglePayment_ExpenseForm_@ic.Id" type="number" class="form-control input-md col-2">
                                <input value="" name="MonthlyPayment" id="MonthlyPayment_ExpenseForm_@ic.Id" type="number" class="form-control input-md col-2">

                                <button value="Добавить" onclick="AddExpense(@ic.Id)" type="button" class="form-control input-md col-2">Добавить</button>
                            </div>
                        </div>

                        <div class="col-4">
                            <!-- Информация -->
                            <textarea name="Info" type="te" class="form-control input-md h-auto">@ic.Description()</textarea>
                        </div>

                    </div>

                    <!-- Сохранить -->
                    <div class="form-group row">
                        <div class="col"></div>
                        <div class="col-2">
                            <input value="Сохранить" type="submit" class="form-control input-md">
                        </div>
                    </div>

                </fieldset>
            }

        </div>
    }

    <div>
        <div class="container pt-5 pb-5 pl-0 pr-0">
            @using (Html.BeginForm("Add", "InvestConcept", FormMethod.Post))
            {
                <!-- Id -->
                <input type="hidden" value="@Model.Id" name="LotId" />

                <!-- Добавить инвест идею -->
                <div class="form-group align-content-center">
                    <input value="Добавить инвест идею" type="submit" class="form-control input-md" style="background-color: #3F72AF; color: white">
                </div>

            }
        </div>
    </div>
